<div class="card">
  <div class="card-header form-header">
    Hello, {{ loggedInUser }}! Here are your quiz scores
  </div>
  <div class="card-body" *ngIf="loaded">
    <ul class="list-group mb-3" *ngFor="let category of categories">

      <div *ngIf="scores.length > 0">
        <ng-container *ngFor="let score of scores">
          <li *ngIf="score.category.id === category.id" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-left">
              <h5>Category: {{ category.name }}</h5>
            </div>
            <div class="d-flex justify-content-right">
              <h5>Your Score: {{ score.score }}/{{ score.category.signCount }} ({{ score.score/score.category.signCount | percent }})</h5>
            </div> 
          </li>
          <li *ngIf="score.category.id !== category.id" class="list-group-item d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-left">
              <h5>Category: {{ category.name }}</h5>
            </div>
            <div class="d-flex justify-content-right">
              <h5>Your Score: Not yet started</h5>
            </div> 
          </li>
        </ng-container>
      </div>
      
      <div *ngIf="scores.length === 0">
        <li class="list-group-item d-flex justify-content-between">
          <div class="d-flex">
            <h5>Category: {{ category.name }}</h5>
          </div>
          <div class="d-flex">
            <h5>Your Score: Not yet started</h5>
          </div> 
        </li>
      </div>
      
    </ul>
  </div>
</div>