<div class="card">
  <div class="card-header form-header">
    Manage Signs Categories
  </div>
  <div class="card-body">
    <ul class="list-group" *ngIf="loaded && categories.length > 0">
      <li *ngFor="let category of categories" class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-left">
          <h5>{{ category.name }}</h5>
        </div>
        <div class="d-flex justify-content-right">
          <button routerLink="/categories/edit/{{ category.id }}" class="btn btn-secondary card-link">
            <i class="fa fa-pencil"></i>
          </button>
          <button (click)="deleteCategory(category)" class="btn btn-danger card-link">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </li>
    </ul>
    <div *ngIf="loaded && categories.length === 0">
      <h5>There are no signs categories in the system</h5>
    </div>
  </div>
</div>